.page-banner-image {
    height: fit-content;
    max-height: 15em;
    width: 100%
}

.page-footer-pinned {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
}

.paper-card-wrap {
    border-radius: 8px;
    padding: 20px;
    width: stretch;
    max-width: contain;
    flex-grow: 1;
    height: 100%;
}

.paper-card-fit {
    border-radius: 8px;
    padding: 20px;
    width: stretch;
    min-width: max-content;
    height: 100%
}

.pdf-viewer-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5%;
}

.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .pdf-viewer-container {
        height: 80vh;
    }
}
