body {
    color: floralwhite;
    background-color: #0c1210;
    background-repeat: no-repeat;
    background-image: url('backgroundimg.jpg');
}

.main-container {
    background-color: rgba(12, 18, 16, 0.5);
    padding-top: 25px;
    border-radius: 30px;
}

.page-banner-image {
    height: fit-content;
    max-height: 15em;
    width: 100%
}

.page-footer-pinned {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 8px;
    color: floralwhite;
    background-color: black;
    box-sizing: border-box;
}

.paper-card-fit {
    border-radius: 8px;
    padding: 20px;
    width: stretch;
    min-width: max-content;
    height: 100%;
    background-color: rgba(12, 18, 37, 0.65);
    color: floralwhite;
    box-shadow: 0px 2px 4px 2px ghostwhite;
}

.paper-card-wrap {
    border-radius: 8px;
    padding: 20px;
    width: stretch;
    max-width: contain;
    flex-grow: 1;
    height: 100%;
    background-color: rgba(12, 18, 37, 0.65);
    color: floralwhite;
    box-shadow: 0px 2px 4px 2px ghostwhite;
}

.paper-card-flex {
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(12, 18, 37, 0.65);
    color: floralwhite;
    box-shadow: 0px 2px 4px 2px ghostwhite;
}

.paper-card-header-divider {
    opacity: 0.35;
    margin-bottom: 5px;
}

.pdf-viewer-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5%;
}

.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.attachment-carousel {
    height: 45em;
    border-radius: 8px;
    background-color: #0c1210;
}

@media (max-width: 768px) {
    .pdf-viewer-container {
        height: 80vh;
    }
}
