.pdf-viewer-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5%;
}

.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .pdf-viewer-container {
        height: 80vh;
    }
}

.page-footer-pinned {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 8px;
    border-top: 1px solid black;
}